@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
:root {
  --title-font: "Press Start 2P";
  --dark-green: #0f380f; /* verde oscuro */
  --green: #306230; /* verde medio */
  --light-green: #66c966; /* verde claro */
  --shiny-green: #9bbc0f; /* verde brillante */
  --border-color: #000;
  --white: #fff;
  --main-color: #fcd8a8;
}
body {
  height: 1440px;
  background-color: #306230;
}
.header {
  background-color: #0f380f;

  background-image:
    linear-gradient(rgba(15, 56, 15, 0.8), rgba(15, 56, 15, 0.8)),
    url("../assets/link.webp");

  background-size: 32px;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}

.title {
  color: var(--shiny-green);
  font-size: 1rem;
  font-family: var(--title-font);
  padding: 1rem;
}
.nav__list--element {
  color: var(--shiny-green);
  font-size: 0.8rem;
  font-family: var(--title-font);
  padding: 0.5rem;
}
.main__content {
  display: flex;
  justify-content: space-around;
  height: 50%;
}

.search__section {
  background-color: var(--main-color);
  padding: 1rem;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  height: 50%;
  width: 75%;
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}
.searchbar {
  background-color: var(--light-green);
  width: 70%;
  border: double;
  padding: 0.5rem;
  box-shadow:
    0 0 0 2px black,
    2px 0 0 0 black,
    0 2px 0 0 black,
    2px 2px 0 0 black;
}
.searchtarget {
  background-color: var(--light-green);
  width: 50%;
  color: var(--white);
  border: var(--border-color) double 3px;
  font-family: var(--title-font);
  box-shadow:
    0 0 0 2px black,
    2px 0 0 0 black,
    0 2px 0 0 black,
    2px 2px 0 0 black;
}
