@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
:root {
  --title-font: "Press Start 2P";
  --dark-green: #0f380f; /* verde oscuro */
  --green: #306230; /* verde medio */
  --light-green: #8bac0f; /* verde claro */
  --shiny-green: #9bbc0f; /* verde brillante */
}
header {
  background-color: #0f380f;

  background-image:
    linear-gradient(rgba(15, 56, 15, 0.8), rgba(15, 56, 15, 0.8)),
    url("../assets/link.webp");

  background-size: 32px;
  background-repeat: repeat;
}
.title {
  font-family: var(--title-font);
  font-size: 1rem;
  color: var(--shiny-green);
}
.main__content {
  background-color: var(--green);
}
